@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rubik:wght@300&display=swap");

.App {
  height: 100vh;
  width: 100vw;
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: White;
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
}

.CardDeck {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

.timeCards {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}
