@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rubik:wght@300&display=swap");

.App {
  height: 100vh;
  width: 100vw;
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: White;
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
}

.CardDeck {
  width: 980px;
  /* height: 200px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

.timeCards {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

h1 {
  font-size: 48px;
  margin: 0;
  margin-top: 10%;
}

h2 {
  font-size: 28px;
  margin: 0;
  margin-top: 5%;
}

h3 {
  font-size: 14px;
  margin: 0;
  margin-top: 10%;
}

h5 {
  font-size: 12px;
  margin: 0;
  margin-top: 3%;
}
