.titleCard {
  background-color: hsl(235, 46%, 20%);
  height: auto;
  width: 200px;
  border-radius: 10px;
  margin: 1%;
}

.reportFor {
  width: 100%;
  height: 70%;
  /* text-align: left; */
  background-color: hsl(235, 45%, 61%);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profilePic {
  border-radius: 50%;
  width: 30%;
  padding-top: 10%;
  padding-left: 10%;
  border: 10px solid white;
}

h1 {
  padding-left: 10%;
}

h5 {
  padding-left: 10%;
}
