.titleCard {
  background-color: hsl(235, 46%, 20%);
  height: 400px;
  width: 200px;
  border-radius: 12px;
  margin: 1.5%;
  margin-top: 2%;
}

.titleCard__buttons {
  padding-left: 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}

.Button {
  background-color: hsl(235, 46%, 20%);
  color: aliceblue;
  border: none;
  height: 30px;
  width: 100%;
  text-align: left;
}

.reportFor {
  width: 100%;
  height: 70%;
  /* text-align: left; */
  background-color: hsl(235, 45%, 61%);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.reportFor__content {
  padding-left: 10%;

  /* padding: 10%; */
}

.profilePic {
  border-radius: 50%;
  border: 3px solid white;
  width: 35%;
  margin-top: 15%;
  margin-bottom: 15%;
}
